

#threadview > GtkViewport {
    background-color: #EEF2FF;
}

#commentview {
    background-color: #D6DAF0;
    border-color: #B7C5D9;
    border-width: 1px;
    border-style: solid;

}

#imagewindow {
    background-color: #D6DAF0;
}    

#imagewindow > * {
    background-color: #D6DAF0;
}    

#horizonwindow {
    background-color: #D6DAF0;
}

#frame {
    border-width: 2px;
    border-color: #EEF2FF;
    border-radius: 1px;
    border-style: solid;
    
}

#threadcontrolgrid {
    border-width: 1px;
    border-style: solid;
    border-color: #B7C5D9;
}

#originalfilename {
    font: Arial 8;
    color: blue
}

#imagenameinfo {
    font: Arial 8;
    color: #070707;
}

#commentgrid {
    padding: 0px;
    margin: 0px;
}

#comment {
    padding: 2px;
    color: black;
}

#name {
    color: #117743;
    font: Arial 12 bold;
}

#subject {
    color: #0F0C5D;
    font: Arial 14 bold;
}

* {
    font: Arial 13;
}

