@define-color light       #EEF2FF;
@define-color dark        #D6DAF0;
@define-color dark-border #B7C5D9;
@define-color name        #117743;
@define-color subject     #0F0C5D;
@define-color image-info   #070707;

* {
    font: Arial;
    font-size: 12;
}

GtkNotebook, #frame, #threadview > GtkViewport {
    background-color: @light;
}

GtkNotebook tab {
    background-image: -gtk-gradient (linear,
                                    0 0, 0 1,
                                    color-stop(0, @dark),
                                    color-stop(1, @light));
}

#commentview {
    background-color: @dark;
    border-color: @dark-border;
    border-width: 1px;
    border-style: outset;

    padding-bottom: 10px;
    padding-top:    5px;
    padding-left:   20px;
    padding-right:  20px;
}

#name {
    color: @name;
    font-weight: bold;
}

#subject {
    color: @subject;
    font-size: 14;
    font-weight: bold;
}

#originalfilename {
    font-size: 8;
    color: blue
}


#imagenameinfo {
    font-size: 8;
    color: @image-info;
}

#imagewindow, #image_window *, #horizonwindow {
    background-color: @dark;
}    

#frame {
    border-width: 2px;
    border-color: @light;
    border-style: solid;
}

#threadcontrolgrid {
    border-width: 1px;
    border-style: dashed;
    border-color: @dark-border;
}


#comment {
    color: black;
}

* {
    font: Arial 13;
}

